body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.form {
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  margin: 0 auto;
  width: 100%;
  max-width: 460px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.form__header {
  margin-top: 60px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}

.form__label {
  position: relative;
  max-width: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 400;
}

.form__input {
  width: 100%;
  display: block;
  margin-bottom: 20px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  box-sizing: border-box;
  font-size: 14px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.87);
  border-radius: 8px;
  font-weight: normal;
  color: black;
  text-transform: none;
}

.form__password-button {
  position: absolute;
  background-size: contain;
  background-color: transparent;
  right: 10px;
  top: 25px;
  border: none;
  width: 25px;
  height: 25px;
  z-index: 5;
  cursor: pointer;
}

.form__submit {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  padding: 6px 16px;
  margin: 0 20px;
  border-radius: 6px;
  border: none;
  color: #ffffff;
  background-color: #1976d2;
  line-height: 1.75;
}

.form__submit:hover {
  cursor: pointer;
  opacity: 0.8;
}

.form__error {
  color: #d32f2f;
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 700;
}
