$color-terracotta: #a45818;
$color-stone: #787461;
$color-sand: #d1c6ac;
$color-forest: #3c5548;
$color-dark-forest: #1a2721;

$color-green-swamp: #2f3b1c;
$color-green-ale: #526534;
$color-green-willow: #8d9e3f;
$color-green-light: #b2bda0;
$color-green-lightest: #ebefe3;

$color-brown-brick: #6f402b;
$color-brown-caramel: #a87c62;
$color-brown-cappuccino: #cbae97;
$color-brown-beige: #e3d9c5;
$color-brown-bianco: #eeedea;

